{% extends 'main_template.html' %}
{% load static %}
{% block title %}Hjem{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div id="index-wrapper">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Note
                </div>
                <div class="card-body">
                    This page is under construction.
                </div>
            </div>
        </div>
    </div>
{% endblock %}