{% extends 'main_template.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/auth.css' %}">
{% endblock %}

{% block content %}

    {#    {% if next %}#}
    {#        <div class="alert alert-warning" id="login_notify"><strong>Merk!</strong> Denne siden krever at du logger inn først</div>#}
    {#    {% elif from %}#}
    {#        <div class="alert alert-success" id="login_notify"><strong>Konto opprettet!</strong> Du kan nå logge inn</div>#}
    {#    {% else %}#}
    {#        <div class="alert alert-info" id="login_notify">Logg på</div>#}
    {#    {% endif %}#}

    <div class="col-md-4 offset-md-4">

        <form action="{% url 'main:login' %}" method="post" accept-charset="utf-8" id="loginform"
              class="card">
            <div class="card-header">
                <h3 class="card-title">Log in</h3>
            </div>
            <div class="card-body">

                {% csrf_token %}

                <span class="field-error">{{ login_form.non_field_errors.as_text }}</span>
                {% for field in login_form %}
                    {% if field.label %}
                        <b class="field-label">{{ field.label }}:</b>
                    {% endif %}
                    {{ field }}
                {% endfor %}

                <br>
                <input type="hidden" name="next" value="{{ next }}"/>
                <input class="btn btn-sm btn-success" type="submit" value="Log in"/>
                <input class="btn btn-sm btn-default" type="submit" name="cancel" value="Cancel"/>
                <a href="{% url 'main:forgot_pw' %}" class="pull-right">Forgot password?</a>
            </div>
        </form>
    </div>

{% endblock %}